<%# if current_user %>
<%# current_user.selecting_products.each do |product| %>
<%#= render partial: "products/in_cart_product", locals: {product: product} %>
<%# end %>

<%#= form_tag charges_path do %>
<%# if flash[:error].present? %>
<!--      <div id="error_explanation">-->
<!--        <p><%#= flash[:error] %></p>-->
<!--      </div>-->
<%# end %>
<!--    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
<!--      data-email="<%#= current_user.email %>"-->
<!--      data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"-->
<!--      data-locale="auto">-->
<!--    </script>-->
<%# end %>
<%# end %>
<div class="span9">
  <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
  </ul>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Quantity/Update</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% if current_user %>
      <% current_user.selecting_products.each do |product| %>
        <%= render partial: "products/in_cart_product", locals: {product: product} %>
      <% end %>
    <% end %>
    <tr>
      <td colspan="4" style="text-align:right"><strong>TOTAL=</strong></td>
      <td class="label label-important" style="display:block">
        <strong>$<%= @total %> </strong>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="text-align:right">
        <%= form_tag charges_path do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-email="<%= current_user.email %>"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-locale="auto">
          </script>
        <% end %>
      </td>
    </tr>

    </tbody>
  </table>

</div>
