<div class="span9">
  <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="products.html">Products</a> <span class="divider">/</span></li>
    <li class="active"><%= @product.name %></li>
  </ul>
  <div class="row">
    <div id="gallery" class="span3">
      <%= image_tag @product.image.url %>
    </div>
    <div class="span6">
      <h3><%= @product.name %></h3>
      <small>Some description</small>
      <hr class="soft"/>
      <%= form_tag carts_path, class: "form-horizontal qtyFrm" do %>
        <%= hidden_field_tag "btn_type", "add" %>
        <%= hidden_field_tag "product_id", @product.id %>
        <div class="control-group">
          <label class="control-label"><span>
            $<%= @product.price %>
          </span></label>
          <div class="controls">
              <input type="number" min="1" value="1" class="span1" name="product_qty"/>
            <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart
              <i class=" icon-shopping-cart"></i></button>
          </div>
        </div>
      <% end %>
      <form class="form-horizontal qtyFrm">

      </form>

      <hr class="soft clr"/>
      <p>
        14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO
        sensitivity ISO6400 at reduced resolution.
        Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot
        mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.
        Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).

      </p>
      <br class="clr"/>
      <a href="#" name="detail"></a>
      <hr class="soft"/>
    </div>

    <div class="span9">
      <ul id="productDetail" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
        <li><a href="#profile" data-toggle="tab">Related Products</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <%= render "product_details" %>
        <%= render "related_products" %>
      </div>
    </div>

  </div>
</div>
