<!DOCTYPE html>
<html>
  <head>
    <title>RubyNaitei2019Bootshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div class="container">
        <% if current_user %>
          <%= render "shared/welcome" %>
      <% end %>
        <%= render "shared/nav" %>
      </div>
    </div>

    <div id="mainBody">
      <div class="container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
      <% end %>
        <div class="row">
          <%= render "shared/sidebar" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
